Projects/
КР/
BTC/
venv/
CKD/
test_env/
Skillfactory/
Kaggle/catboost_info/tmp/cat_feature_index.5fb24b16-4079caff-3c3d12b4-d3e41a68.tmp
Kaggle/catboost_info/tmp/cat_feature_index.6ccfbeaa-fef8e225-352fceec-631dca1c.tmp
Kaggle/catboost_info/tmp/cat_feature_index.12be613f-4ca954b-1181a8e1-7065407b.tmp
Kaggle/catboost_info/tmp/cat_feature_index.26bff3e7-867774c0-bf8b1058-28d9b479.tmp
Kaggle/catboost_info/tmp/cat_feature_index.59c25125-e587eef9-6205ef44-c61ffde1.tmp
Kaggle/catboost_info/tmp/cat_feature_index.84e8144d-63fff485-8ce1c3ac-c559800e.tmp
Kaggle/catboost_info/tmp/cat_feature_index.216f72fa-bfa91420-5bdca371-f653d260.tmp
Kaggle/catboost_info/tmp/cat_feature_index.586fe144-a27eb26e-a823151e-d64e2c37.tmp
Kaggle/catboost_info/tmp/cat_feature_index.734c89da-648f996-cb52ca27-7ff06c73.tmp
Kaggle/catboost_info/tmp/cat_feature_index.785dc88a-7bcc184c-5a84c325-4f14aa82.tmp
Kaggle/catboost_info/tmp/cat_feature_index.15250cfb-f47cf95c-32e5fca7-98ae17e1.tmp
Kaggle/catboost_info/tmp/cat_feature_index.588085f6-e6c6f438-44069e5e-a9c84a5c.tmp
Kaggle/catboost_info/tmp/cat_feature_index.50450389-458336cf-1171529a-9182a941.tmp
Kaggle/catboost_info/tmp/cat_feature_index.ac8380c3-64f2b0a-5a6907b8-83c4a340.tmp
Kaggle/catboost_info/tmp/cat_feature_index.ae2abdfd-6a3d62b3-8761b5af-c2382b92.tmp
Kaggle/catboost_info/tmp/cat_feature_index.ae635a6b-1963b86a-7c4a9efa-9a4dd4c.tmp
Kaggle/catboost_info/tmp/cat_feature_index.c69accfe-d6f10021-3b7328d9-64fe49dd.tmp
Kaggle/catboost_info/tmp/cat_feature_index.ca0cb8b1-62bd387-20ca3610-1b3b9410.tmp
Kaggle/catboost_info/tmp/cat_feature_index.d8197719-86c73024-64d5b339-dfba072b.tmp
Kaggle/catboost_info/tmp/cat_feature_index.f695164d-5aa4ad70-110da0af-32e096e9.tmp
client.py
client1.ipynb
hw2_check_ol.py
plot.png
query
server.py
__pycache__/server.cpython-312.pyc
bybit/ADAUSDT_orderbook.csv
bybit/ADAUSDT_snapshot.csv
bybit/API_key.txt
bybit/bybit_10_tokens_volume_close.csv
bybit/bybit_all_tokens_volume_close.csv
bybit/bybit_usdt_tokens.csv
bybit/bybit.ipynb
bybit/holiday_data_USA.csv
bybit/orderbook.ipynb
bybit/parser.log
bybit/parser.py
bybit/script.txt.txt
mlflow/144627601710023262/meta.yaml
mlflow/144627601710023262/84fe65270aaa4a6bbd0e2885ffc1cead/meta.yaml
mlflow/144627601710023262/84fe65270aaa4a6bbd0e2885ffc1cead/artifacts/plots/heatmap_profiles.png
mlflow/144627601710023262/84fe65270aaa4a6bbd0e2885ffc1cead/artifacts/plots/heatmap_regions_by_cluster.png
mlflow/144627601710023262/84fe65270aaa4a6bbd0e2885ffc1cead/artifacts/tables/cluster_summary.csv
mlflow/144627601710023262/84fe65270aaa4a6bbd0e2885ffc1cead/artifacts/tables/region_cluster_map.csv
mlflow/144627601710023262/84fe65270aaa4a6bbd0e2885ffc1cead/metrics/Calinski-Harabasz
mlflow/144627601710023262/84fe65270aaa4a6bbd0e2885ffc1cead/metrics/Davies-Bouldin
mlflow/144627601710023262/84fe65270aaa4a6bbd0e2885ffc1cead/metrics/Silhouette
mlflow/144627601710023262/84fe65270aaa4a6bbd0e2885ffc1cead/outputs/m-abb41065fdf440b7a6a2fbf58cc445ca/meta.yaml
mlflow/144627601710023262/84fe65270aaa4a6bbd0e2885ffc1cead/params/init
mlflow/144627601710023262/84fe65270aaa4a6bbd0e2885ffc1cead/params/n_clusters
mlflow/144627601710023262/84fe65270aaa4a6bbd0e2885ffc1cead/params/n_init
mlflow/144627601710023262/84fe65270aaa4a6bbd0e2885ffc1cead/tags/mlflow.runName
mlflow/144627601710023262/84fe65270aaa4a6bbd0e2885ffc1cead/tags/mlflow.source.name
mlflow/144627601710023262/84fe65270aaa4a6bbd0e2885ffc1cead/tags/mlflow.source.type
mlflow/144627601710023262/84fe65270aaa4a6bbd0e2885ffc1cead/tags/mlflow.user
mlflow/144627601710023262/models/m-abb41065fdf440b7a6a2fbf58cc445ca/meta.yaml
mlflow/144627601710023262/models/m-abb41065fdf440b7a6a2fbf58cc445ca/artifacts/conda.yaml
mlflow/144627601710023262/models/m-abb41065fdf440b7a6a2fbf58cc445ca/artifacts/MLmodel
mlflow/144627601710023262/models/m-abb41065fdf440b7a6a2fbf58cc445ca/artifacts/model.pkl
mlflow/144627601710023262/models/m-abb41065fdf440b7a6a2fbf58cc445ca/artifacts/python_env.yaml
mlflow/144627601710023262/models/m-abb41065fdf440b7a6a2fbf58cc445ca/artifacts/requirements.txt
mlflow/144627601710023262/models/m-abb41065fdf440b7a6a2fbf58cc445ca/metrics/Calinski-Harabasz
mlflow/144627601710023262/models/m-abb41065fdf440b7a6a2fbf58cc445ca/metrics/Davies-Bouldin
mlflow/144627601710023262/models/m-abb41065fdf440b7a6a2fbf58cc445ca/metrics/Silhouette
mlflow/144627601710023262/models/m-abb41065fdf440b7a6a2fbf58cc445ca/params/init
mlflow/144627601710023262/models/m-abb41065fdf440b7a6a2fbf58cc445ca/params/n_clusters
mlflow/144627601710023262/models/m-abb41065fdf440b7a6a2fbf58cc445ca/params/n_init
mlflow/144627601710023262/models/m-abb41065fdf440b7a6a2fbf58cc445ca/tags/mlflow.source.name
mlflow/144627601710023262/models/m-abb41065fdf440b7a6a2fbf58cc445ca/tags/mlflow.source.type
mlflow/144627601710023262/models/m-abb41065fdf440b7a6a2fbf58cc445ca/tags/mlflow.user
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/27572_справочник субъекты российской федерации.xlsx
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/BUL_MO_2023.xlsx
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/cash_real_income_wages_2015_2020.xlsx
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/child_mortality_rural_1990_2021.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/child_mortality_urban_1990_2021.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/clusters.csv
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/disabled_total_by_age_2017_2022.csv
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/drug_alco.xlsx
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/gross_regional_product_1996_2020.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/housing_2020.xlsx
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/morbidity_2005_2020_age_disease.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/newborn_2006_2022_monthly.csv
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/population.xlsx
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/poverty_percent_by_regions_1992_2020.csv
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/poverty_socdem_2017.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/poverty_socdem_2018.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/poverty_socdem_2019.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/poverty_socdem_2020.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/regional_production_2005_2016.csv
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/regional_production_2017_2020.csv
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/retail_turnover_per_capita_2000_2021.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/rosstat_data_big.csv
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/rosstat_data_clean.csv
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/rosstat_data_new.csv
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/rosstat_data_scal_sym.csv
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/rosstat_data_scal_sym1.csv
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/rosstat_data_scal.csv
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/rosstat_data.csv
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/welfare_expense_share_2015_2020.xlsx
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_012016.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_012017.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_012018.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_012019.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_012020.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_022016.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_022017.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_022018.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_022019.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_022020.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_032016.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_032017.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_032018.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_032019.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_032020.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_042016.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_042017.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_042018.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_042019.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_042020.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_052016.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_052017.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_052018.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_052019.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_052020.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_062016.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_062017.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_062018.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_062019.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_062020.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_072016.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_072017.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_072018.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_072019.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_072020.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_082016.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_082017.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_082018.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_082019.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_082020.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_092016.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_092017.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_092018.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_092019.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_092020.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_102016.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_102017.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_102018.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_102019.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_102020.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_112016.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_112017.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_112018.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_112019.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_112020.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_122016.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_122017.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_122018.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_122019.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_4_122020.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_5_012021.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_5_012022.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_5_022021.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_5_022022.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_5_032021.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_5_032022.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_5_042021.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_5_042022.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_5_052021.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_5_052022.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_5_062021.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_5_062022.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_5_072021.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_5_082021.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_5_092021.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_5_102021.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_5_112021.xls
Учебные проекты/12. Итоговый проект_Определение уязвимых групп населения/data/crimes/4-EGS_Razdel_5_122021.xls
Мои проекты/colors_matplotlib.ipynb
Мои проекты/clustering_15.ipynb
mlflow/144627601710023262/models/m-abb41065fdf440b7a6a2fbf58cc445ca/tags/mlflow.user
bybit/spred_script.py
bybit/spred_test.ipynb
