Projects/
КР/
BTC/
venv/
CKD/
test_env/
Skillfactory/
Kaggle/catboost_info/tmp/cat_feature_index.5fb24b16-4079caff-3c3d12b4-d3e41a68.tmp
Kaggle/catboost_info/tmp/cat_feature_index.6ccfbeaa-fef8e225-352fceec-631dca1c.tmp
Kaggle/catboost_info/tmp/cat_feature_index.12be613f-4ca954b-1181a8e1-7065407b.tmp
Kaggle/catboost_info/tmp/cat_feature_index.26bff3e7-867774c0-bf8b1058-28d9b479.tmp
Kaggle/catboost_info/tmp/cat_feature_index.59c25125-e587eef9-6205ef44-c61ffde1.tmp
Kaggle/catboost_info/tmp/cat_feature_index.84e8144d-63fff485-8ce1c3ac-c559800e.tmp
Kaggle/catboost_info/tmp/cat_feature_index.216f72fa-bfa91420-5bdca371-f653d260.tmp
Kaggle/catboost_info/tmp/cat_feature_index.586fe144-a27eb26e-a823151e-d64e2c37.tmp
Kaggle/catboost_info/tmp/cat_feature_index.734c89da-648f996-cb52ca27-7ff06c73.tmp
Kaggle/catboost_info/tmp/cat_feature_index.785dc88a-7bcc184c-5a84c325-4f14aa82.tmp
Kaggle/catboost_info/tmp/cat_feature_index.15250cfb-f47cf95c-32e5fca7-98ae17e1.tmp
Kaggle/catboost_info/tmp/cat_feature_index.588085f6-e6c6f438-44069e5e-a9c84a5c.tmp
Kaggle/catboost_info/tmp/cat_feature_index.50450389-458336cf-1171529a-9182a941.tmp
Kaggle/catboost_info/tmp/cat_feature_index.ac8380c3-64f2b0a-5a6907b8-83c4a340.tmp
Kaggle/catboost_info/tmp/cat_feature_index.ae2abdfd-6a3d62b3-8761b5af-c2382b92.tmp
Kaggle/catboost_info/tmp/cat_feature_index.ae635a6b-1963b86a-7c4a9efa-9a4dd4c.tmp
Kaggle/catboost_info/tmp/cat_feature_index.c69accfe-d6f10021-3b7328d9-64fe49dd.tmp
Kaggle/catboost_info/tmp/cat_feature_index.ca0cb8b1-62bd387-20ca3610-1b3b9410.tmp
Kaggle/catboost_info/tmp/cat_feature_index.d8197719-86c73024-64d5b339-dfba072b.tmp
Kaggle/catboost_info/tmp/cat_feature_index.f695164d-5aa4ad70-110da0af-32e096e9.tmp
client.py
client1.ipynb
hw2_check_ol.py
plot.png
query
server.py
__pycache__/server.cpython-312.pyc
bybit/ADAUSDT_orderbook.csv
bybit/ADAUSDT_snapshot.csv
bybit/API_key.txt
bybit/bybit_10_tokens_volume_close.csv
bybit/bybit_all_tokens_volume_close.csv
bybit/bybit_usdt_tokens.csv
bybit/bybit.ipynb
bybit/holiday_data_USA.csv
bybit/orderbook.ipynb
bybit/parser.log
bybit/parser.py
bybit/script.txt.txt
