Skillfactory/Projects/HomeWork2/HW2.ipynb
Skillfactory/Projects/HomeWork2/data/churn.csv
Skillfactory/Projects/HW1/HW_game_v3.ipynb
Skillfactory/Projects/HW1/HW_game_v3.py
Skillfactory/Projects/HW1/README_HW.md
Skillfactory/Projects/HW1/requirements.txt
Skillfactory/Projects/PROJECT-3. EDA + Feature Engineering. Соревнование на Kaggle/1. Введение.ipynb
Skillfactory/Projects/PROJECT-3. EDA + Feature Engineering. Соревнование на Kaggle/2. Разбираемся с данными.ipynb
Skillfactory/Projects/PROJECT-3. EDA + Feature Engineering. Соревнование на Kaggle/3. Машинное обучение для самых маленьких.ipynb
Skillfactory/Projects/PROJECT-3. EDA + Feature Engineering. Соревнование на Kaggle/4. Лучший способ добиться успеха — следовать советам.ipynb
Skillfactory/Projects/PROJECT-3. EDA + Feature Engineering. Соревнование на Kaggle/EDA_Project_3_model.ipynb
Skillfactory/Projects/PROJECT-3. EDA + Feature Engineering. Соревнование на Kaggle/My_project_v2.ipynb
Skillfactory/Projects/PROJECT-3. EDA + Feature Engineering. Соревнование на Kaggle/data/hotels_drop.csv
Skillfactory/Projects/PROJECT-3. EDA + Feature Engineering. Соревнование на Kaggle/data/hotels.csv
Skillfactory/Projects/project_0/game_v2.ipynb
Skillfactory/Projects/project_0/game_v2.py
Skillfactory/Projects/project_0/game.py
Skillfactory/Projects/project_0/README.md
Skillfactory/Projects/project_0/requirements.txt
Skillfactory/Projects/Планирование эксперимента - практика/Планирование эксперимента и логирование изменений в Comet.ml. Практика.ipynb
Skillfactory/Projects/Планирование эксперимента - практика/data/KaggleV2-May-2016.csv
Skillfactory/Projects/Проект 1. Анализ резюме на HH/Project_1 (HeadHunter).ipynb
Skillfactory/Projects/Проект 1. Анализ резюме на HH/data/dst-3.0_16_1_hh_database.csv
Skillfactory/Projects/Проект 1. Анализ резюме на HH/data/ExchangeRates.csv
Skillfactory/Projects/Проект 2. Анализ резбие на HH/Project_2 (HeadHunter).ipynb
Skillfactory/Projects/Проект 3. Практика. Статистические тесты в контексте EDA/Project 3. ИССЛЕДОВАНИЕ ДАННЫХ HR-АГЕНТСТВА.ipynb
Skillfactory/Projects/Проект 3. Практика. Статистические тесты в контексте EDA/data/ds_salaries.csv
Projects/
КР/
BTC/
venv/
CKD/
test_env/
Skillfactory/Библиотеки, используемые в курсе.ipynb
Skillfactory/SQL-запросы простые скрипты.ipynb
Skillfactory/43. BONUS. Линейная алгебра в контексте линейных методов. Часть III/3. Собственные векторы и числа.ipynb
Skillfactory/43. BONUS. Линейная алгебра в контексте линейных методов. Часть III/4. Практика собственные векторы и числа.ipynb
Skillfactory/43. BONUS. Линейная алгебра в контексте линейных методов. Часть III/5. Комплексные числа.ipynb
Skillfactory/43. BONUS. Линейная алгебра в контексте линейных методов. Часть III/6. Метод главных компонент.ipynb
Skillfactory/43. BONUS. Линейная алгебра в контексте линейных методов. Часть III/7. Сингулярное разложение.ipynb
Skillfactory/43. BONUS. Линейная алгебра в контексте линейных методов. Часть III/ШпаргалкаGPT.ipynb
Skillfactory/43. BONUS. Линейная алгебра в контексте линейных методов. Часть III/data/housing.csv
Skillfactory/44. MATH&ML-4. Математический анализ в контексте задачи оптимизации. Часть I/1. Основы математического языка.ipynb
Skillfactory/44. MATH&ML-4. Математический анализ в контексте задачи оптимизации. Часть I/2. Множества. Операции над множествами.ipynb
Skillfactory/44. MATH&ML-4. Математический анализ в контексте задачи оптимизации. Часть I/3. Функция. Элементарные функции.ipynb
Skillfactory/44. MATH&ML-4. Математический анализ в контексте задачи оптимизации. Часть I/4. Исследование функции.ipynb
Skillfactory/44. MATH&ML-4. Математический анализ в контексте задачи оптимизации. Часть I/5. Производная.ipynb
Skillfactory/44. MATH&ML-4. Математический анализ в контексте задачи оптимизации. Часть I/6. Вычисление производных.ipynb
Skillfactory/44. MATH&ML-4. Математический анализ в контексте задачи оптимизации. Часть I/7. Исследование функции с помощью производных.ipynb
Skillfactory/44. MATH&ML-4. Математический анализ в контексте задачи оптимизации. Часть I/8_SF_практика.ipynb
Skillfactory/45. Введение. Функции нескольких переменных/1. Введение.ipynb
Skillfactory/45. Введение. Функции нескольких переменных/2. Частные производные.ipynb
Skillfactory/45. Введение. Функции нескольких переменных/3. Безусловные экстремумы. Функции нескольких переменных.ipynb
Skillfactory/45. Введение. Функции нескольких переменных/4. Введение в оптимизацию.ipynb
Skillfactory/45. Введение. Функции нескольких переменных/5. Условные экстремумы. Метод Лагранжа.ipynb
Skillfactory/45. Введение. Функции нескольких переменных/6. Градиент и антиградиент.ipynb
Skillfactory/45. Введение. Функции нескольких переменных/7. Градиент и градиентный спуск.ipynb
Skillfactory/45. Введение. Функции нескольких переменных/8. Практика_Part1.ipynb
Skillfactory/45. Введение. Функции нескольких переменных/8. Практика_Part2.ipynb
Skillfactory/45. Введение. Функции нескольких переменных/data/Advertising.csv
Skillfactory/46. MATH&ML-6. Математический анализ в контексте задачи оптимизации. Часть III/1. Введение.ipynb
Skillfactory/46. MATH&ML-6. Математический анализ в контексте задачи оптимизации. Часть III/2. Градиентный спуск применение и модификации.ipynb
Skillfactory/46. MATH&ML-6. Математический анализ в контексте задачи оптимизации. Часть III/3. Метод Ньютона.ipynb
Skillfactory/46. MATH&ML-6. Математический анализ в контексте задачи оптимизации. Часть III/4. Квазиньютоновские методы.ipynb
Skillfactory/46. MATH&ML-6. Математический анализ в контексте задачи оптимизации. Часть III/5. Линейное программирование.ipynb
Skillfactory/46. MATH&ML-6. Математический анализ в контексте задачи оптимизации. Часть III/6. Практика линейное программирование.ipynb
Skillfactory/46. MATH&ML-6. Математический анализ в контексте задачи оптимизации. Часть III/7. Дополнительные методы оптимизации.ipynb
Skillfactory/Библиотеки, используемые в курсе.ipynb
Skillfactory/Библиотеки, используемые в курсе.ipynb
